@import 'tailwindcss';

:root {
  /* font konfigurasi */
  --font-primary: var(--font-inter);
  --font-secondary: var(--font-poppins);

  /* konfigurasi color */
  --color-primary: #2f6db3;
  --color-secondary: #62b347;

  --color-text: #1f2937;
  --color-subtext: #6b7280;
  --color-bg-light: #f9fafb;
  --color-white: #ffffff;
}

/* utilityclass */

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-subtext {
  color: var(--color-subtext);
}

/* BACKGROUND */

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-light {
  background-color: var(--color-bg-light);
}

/* hover */
.hover-text-primary:hover {
  color: var(--color-primary);
}

.hover-bg-primary:hover {
  background-color: var(--color-primary);
}
/* FONT */

.text-gradient {
  background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* bg-radiant */
@layer utilities {
  .bg-profile-gradient {
    /* Gradasi dari biru sangat muda ke putih bersih */
    background: linear-gradient(180deg, #e2e8f0 0%, #ffffff 50%, #ffffff 100%);
  }
}

.font-primary {
  font-family: var(--font-primary);
}

.font-heading {
  font-family: var(--font-secondary);
}

@layer utilities {
  .border-primary {
  border-color: var(--color-primary);
}
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--color-bg-light);
  color: var(--color-text);
  font-family: var(--font-primary);
  overflow-x: hidden;
}
